@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Raleway;
  
}

html {
  box-sizing: border-box;
  min-height: -webkit-fill-available;
}

h4 {
  margin-top: 15px;
  margin-left: 15px;
}
.header {
  background-color: #daded4;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header div {
  display: flex;
}

.logo-container {
  width: auto;
  background-color: #ffffff;
  padding: 15px;
}

.website-name {
  color: #3c403d;
  font-weight: 600;
  font-size: 70px;
}

.task-amount-summary {
  font-size: 1.2em;
  align-self: center;
}

.login-container {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}

.login-container p {
  align-self: center;
}

.logout-btn {
  background-color: #daded4;
  border: #3c403d;
  color: #3c403d;
  cursor: pointer;
  border-style: solid;
  padding: 10px 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.body-container{
  display: flex;
  background-color: #8eada7;
}

.main-content{
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-panel {
  width:auto;
 display: flex;
  flex-direction: column;
  background-color: #39603d;
  height: -webkit-fill-available;

}
.nav-panel li a {
display: block;
background-color: #39603d;
padding: 20px 40px;
color: #ffffff;
text-decoration: none;
font-size: larger;
text-align: center;
font-weight: 500;
}

.nav-panel li a:hover{
  background-color: #A3BCB6;
  color: #3C403D;
  font-weight: 600;
}

.nav-panel li a:focus{
  background-color: #ffffff;
  color: #3c403d;
  font-weight: 600;
  box-shadow: inset 0 0 4px #39603d;
}



.todo-panel-header {
  display: flex;
  background-color: #daded4;
  justify-content: space-between;
  align-items: center;
}


.todo-panel {
  background-color: #ffffff;
  color: #3c403d;
  width: 30%;
  min-width: min-content;
  margin: 20px;
  border-radius: 3px;
  min-height: 30vh;
}

.todo-panel h2 {
  text-align: center;
  padding: 8px;
  font-size: 2em;
  align-self: center;
  border-radius: 3px;
}

.search-todo-panel{
  display: flex;
  align-items: center;
}
.search-todo-input{
  margin: 5px 10px;
  padding: 3px;
  width: 100%;
}
.fa-search, .fa-times {
  margin-right: 15px;
  cursor: pointer;
}

.clean-complete-btn{
  padding: 5px;
  background-color: #daded4;
  border: solid 2px #daded4 ;
  border-radius: 3px;
  color: #3c403d;
  font-weight: 500;

}
.todo {
  background-color: #ffffff;
  font-size: 1.3em;
  margin: 5px 10px;
  border-radius: 4px;
  border: solid #8eada7 2px;
 
}

.todo label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-deadline{
  font-size: 16px;
  background-color: #daded4;
  padding: 3px 5px;
  width: max-content;
  border-radius: 2px;
  text-style: italic;
}

.deadline-checkbox-panel{
  display: flex;
  align-items: center;
}

.no-task-alert{
  padding: 5px;
  text-align: center;
  font-style: italic;
}
.todo p {
  padding: 5px 10px;
}

.todo-checkbox {
  margin: 10px;
}

.fake-button {
  z-index: -1;
}

.add-todo-btn, .close-todo-btn{
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.add-todo-btn:hover, .close-todo-btn:hover{
  
  opacity: 1;
}

.todo-input-window{
  position: fixed;
  background-color: #ffffff;;
  color: #3c403d ;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 3px;
  width: 30%;
    min-width: fit-content;
  display: flex;
  flex-direction: column;

}

.todo-input-header{
  display: flex;
  background-color:#daded4;
  justify-content: space-between;
  align-items: center;


}

.todo-input-window button {
  width: fit-content;
  padding: 5px 10px;
  margin: 7px;
  align-self: center;
  background-color:#daded4;
  border: #daded4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1vw;
  cursor: pointer;
}

.todo-input-window button:hover{
  background-color: #a3bcb6;
  color: #3c403d;
  font-weight: 600;
}
.todo-input-window h2 {
  text-align: center;
  padding: 10px;
 
}

.todo-input-window-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: #3c403dDD ;
}

.todo-input {
  padding: 5px;
  margin: 5px 10px;
  font-size: 15px ;
  font-weight: 500;
  color: #3c403d;
  border: solid 2px #8eada7;
  border-radius: 3px;
  cursor: pointer;

}


.deadline-icon{
  color: #86190da1;
  padding-left: 5px;
  
}

.todo-name{
  display: flex;
  align-items: center;
}
.todo-input:focus{
  border: solid 2px  #3c403d;
}

.set-deadline-panel{
  display: flex;
  align-items: center;
  margin: 5px 15px;
}

.deadline-button{
  margin: 5px;
  cursor: pointer;
  margin: 5px;
}

.deadline-button:hover, .deadline-button:focus{
  text-decoration: underline;
}

.deadline{
  padding: 15px;
  font-weight: 600;
  font-family: Raleway;
}