@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/4.1.1/react-datepicker.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: Raleway;
}

html {
  box-sizing: border-box;
  height: 100%;
}

h4 {
  margin-top: 15px;
  margin-left: 15px;
}
#root,
body {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about {
  color: #3c403d;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 50px;
  padding: 30px;
  height: min-content;
  font-size: 18px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-panel {
  margin: 15px 40px;
  text-align: center;
}


.logo-container {
  width: auto;
  padding: 15px;
}

.website-name {
  color: #3c403d;
  font-weight: 600;
  font-size: 70px;
}

.task-amount-summary {
  padding: 10px;
}

.fa-chevron-down {
  margin-right: 10px;
  color: #3c403d;
  cursor: pointer;
}

.fa-chevron-down:hover {
  margin-righ: 5px;
}

.login-container {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}

.login-container p {
  align-self: center;
}

.body-container {
  display: flex;
  height: 100%;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #a3bcb6;
}

.nav-panel {
  width: 10%;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  border-right: solid 1px #daded4;
  border-top: solid 1px #daded4;
  height: 100%;
}
.nav-panel li {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  text-align: center;
}

.nav-panel li:hover {
  background-color:#daded4;
  color: #3c403d;
  font-weight: 600;
}

.nav-tab-active {
  background-color: #daded4;
  color: #3c403d;
  font-size: larger;
  font-weight: 600;
}

.nav-tab-inactive {
  color: #3c403d;
  font-weight: 600;
}

.todo-panel-header {
  display: flex;
  background-color: #daded4;
  justify-content: space-between;
  align-items: center;
}

.todo-panel, .day-panel {
  background-color: #ffffff;
  color: #3c403d;
  width: 35%;
  min-width: min-content;
  margin: 20px;
  border-radius: 3px;
  min-height: 30vh;
  max-height: 90vh;
  flex-direction: column;
  display: flex;
}


.todo-list {
  padding: 0 10px;
  margin-bottom: 10px;
  overflow-y: auto;
  height: 100%;
}
.todo-panel-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.todo-panel h2, .day-panel h2 {
  text-align: center;
  padding: 8px;
  font-size: 2em;
  align-self: center;
  border-radius: 3px;
  color: #3c403d;
}



.todo-overview {
  border: #8eada7;
  margin: 5px;
  padding: 5px;
  border-left: solid 1px #8eada7;
  border-right: solid 1px #8eada7;

}
.yourclass:last-child{
  border-bottom: 0;
}

.todo-overview-header {
  display: flex;
  justify-content: space-between;
}

.todo-overview-deadline {
  color: #86190da1;
  font-weight: 600;
  padding: 5px;
}

.todo-overview-description {
  padding: 5px;
}

.search-todo-panel {
  display: flex;
  align-items: center;
}
.search-todo-input {
  margin: 5px 10px;
  padding: 3px;
  width: 100%;
}
.fa-search,
.fa-times {
  margin-right: 15px;
  cursor: pointer;
}

.clean-complete-btn {
  padding: 5px;
  background-color: #daded4;
  border: solid 2px #daded4;
  border-radius: 3px;
  color: #3c403d;
  font-weight: 500;
  align-self: center;
  margin: 5px;
}
.todo {
  background-color: #ffffff;
  font-size: 1.2em;
  margin-top: 5px;
  border-radius: 4px;
  border: solid #8eada7 2px;
}

.todo-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-deadline {
  font-size: 16px;
  background-color: #daded4;
  padding: 3px 5px;
  margin: 0 3px;
  width: max-content;
  border-radius: 2px;
  text-style: italic;
}

.deadline-checkbox-panel {
  display: flex;
  align-items: center;
}

.no-task-alert {
  padding: 5px;
  text-align: center;
  font-style: italic;
}
.todo p {
  padding: 5px 10px;
}

.todo-checkbox {
  margin: 10px;
}

.fake-button {
  z-index: -1;
}

.add-todo-btn,
.close-todo-btn {
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.add-todo-btn:hover,
.close-todo-btn:hover {
  opacity: 1;
}

.todo-input-window {
  position: fixed;
  background-color: #ffffff;
  color: #3c403d;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 3px;
  width: 30%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

.todo-input-header {
  display: flex;
  background-color: #daded4;
  justify-content: space-between;
  align-items: center;
}

.create-todo-btn {
  width: fit-content;
  padding: 5px 10px;
  margin: 7px;
  align-self: center;
  background-color: #daded4;
  border: #daded4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1vw;
  cursor: pointer;
}

.create-todo-btn:hover {
  background-color: #a3bcb6;
  color: #3c403d;
  font-weight: 600;
}

.react-datepicker__close-icon::after {
  background-color: #3c403d;
}

.todo-input-window h2 {
  text-align: center;
  padding: 10px;
}

.todo-input-window-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3c403ddd;
}

.todo-input {
  padding: 5px;
  margin: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  color: #3c403d;
  border: solid 2px #8eada7;
  border-radius: 3px;
  cursor: pointer;
}

.deadline-icon {
  color: #86190da1;
  padding-left: 5px;
}

.todo-name {
  display: flex;
  align-items: center;
}

.todo-name p {
  white-space: nowrap;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo-input:focus {
  border: solid 2px #3c403d;
}

.set-deadline-panel {
  display: flex;
  align-items: center;
  margin: 5px 15px;
}

.deadline-button {
  margin: 5px;
  cursor: pointer;
  margin: 5px;
}

.deadline-button:hover,
.deadline-button:focus {
  text-decoration: underline;
}

.deadline {
  padding: 15px;
  font-weight: 600;
  font-family: Raleway;
}


.day-panel{
  display: flex;
  margin: 20px;
}

.day-nav-arrow{
  align-self: center;
  margin: 5px;
}